# Environment variables
.env
.env.*
backend/.env

# DO NOT IGNORE THIS FILES
!backend/.env.example
!.env.example

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Uploaded files
uploads/
backend/uploads/